# Arquivos de Segredos e Configurações de Ambiente
# NUNCA envie senhas ou chaves secretas para o GitHub!
.env
*.env

# Ambiente Virtual
# A pasta do ambiente virtual é específica para cada máquina.
venv/
env/

# Arquivos de Banco de Dados local
# Outros desenvolvedores criarão seus próprios bancos.
db.sqlite3
*.sqlite3

# Cache e arquivos compilados do Python
# São gerados automaticamente e não precisam ser versionados.
__pycache__/
*.pyc
*.pyo

# Pastas de arquivos do Django em Produção
# Geradas pelo comando collectstatic e para uploads de usuários.
/static_root/
/media/

# Configurações de IDEs (Editores de Código)
# Pastas de configuração específicas de cada desenvolvedor.
.vscode/
.idea/
